@import "tailwindcss";

@theme {
  --color-brand-gold: #C5A059;
  --color-brand-dark: #2C1810;
  --color-brand-cream: #F9F5EB;
  --color-brand-gray: #4A4A4A;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-dark font-sans;
  }
}